body{
	background-color: rgb(33, 18, 77);
	background-image: url(https://images8.alphacoders.com/106/thumb-1920-1062845.jpg);

}

#check{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 30%;
	
}


#check img{
	width: 40px;
	height: 40px;
	margin-top: 200px;
	margin-left: 150px;

}
#formulario {

		background-color: rgb(214, 198, 198);
		border-radius: 30px;
		position: relative;
		display: flex;
		height: 300px;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		width: 360px;
		padding: 8% 0 0;
		margin: 0 auto 100px;
	}

#formulario form{
	
	display: flex;
	flex-direction: column;
	align-items: center;

}
#formulario form h1{
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: bold;
	
}
#formulario form label{
	
	border-radius: 5px;
	flex: 1;
	font-family: sans-serif;
	font-weight: bold;
	
}
#formulario form #password{
	position: relative;
	left: 5px;

}

#formulario form button{
	margin-top: 10px;
}